/* ========== Generales =========
  Colores basicos:
    - #F7B617 (Amarillo)
    - #2B2B2B (Negro)
*/


/* Estilos generales de proyecto */

footer {
  background-color: #2B2B2B;
  margin: 0;
  padding-top: 20px;
  color: #fff;
}

iframe {
  width: 100%;
  height: 100%;
  frameborder:"0";
  border: 0;
}

nav>div>a{
  color: black;
}

p {
  line-height: 2rem;
  font-weight: bold;
}

#bloque-1{
  background-image: url("../assets/images/taxi.jpg");
  width: 100%;
  height: 100%;
}
#section-amarilla1{
  background-color: #F7B617;
}





/* ======= Media queries  ========*/
@media only screen and (max-width : 992px) {
  .section {
    position: absolute;
    top: 40%;
  }
  .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}